# Routes builds to run on our Trusty sudo-enabled infrastructure
# See using docker in builds: https://docs.travis-ci.com/user/docker/
sudo: required
services:
  - docker

language: ruby

env:
  global:
    - IMAGE_NAME=ljishen/perf
    - ARCH=arm64v8
    - DOCKERFILE=Dockerfile.arm64v8

script:
  # Configure binfmt-support on the Docker host
  # See https://github.com/multiarch/alpine
  - docker run --rm --privileged multiarch/qemu-user-static:register --reset

  # Build arm64v8 image
  - docker build -t "${IMAGE_NAME}":"${ARCH}"-latest -t "${IMAGE_NAME}":"${ARCH}"-4.9 . -f debian/"${DOCKERFILE}"
  - docker build -t "${IMAGE_NAME}":"${ARCH}"-4.9-python3 . -f debian-python3/"${DOCKERFILE}"

before_deploy:
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"

deploy:
  provider: script
  script:
    docker push "${IMAGE_NAME}":"${ARCH}"-latest;
    docker push "${IMAGE_NAME}":"${ARCH}"-4.9;
    docker push "${IMAGE_NAME}":"${ARCH}"-4.9-python3
  on:
    branch: master
